<template>
  <div class="container">
    <header class="jumbotron">
      <h3>Welcome Board {{content}}</h3>
    </header>
  </div>
</template>

<script>
import UserService from '../services/user.service';

export default {
  name: 'User',
  data() {
    return {
      content: ''
    };
  },
  mounted() {
    UserService.getUserInfo().then(
      response => {
        this.content = response.data.users;
      },
      error => {
        this.content =
          (error.response && error.response.data.users) ||
          error.message ||
          error.toString();
      }
    );
  }
};
</script>
