<template>
  <div class="container">
    <header class="jumbotron">
      Welcome to User Dashboard || <strong>Birth: {{ currentUser.created_at | formatDate}}</strong>
      <h3>
        Profile of <strong>{{currentUser.name}}</strong> 
      </h3>
    </header>
    <p>
    </p>
    <p>
      <strong>Id:</strong>
      {{currentUser.id}}
    </p>
    <p>
      <strong>Email:</strong>
      {{currentUser.email}}
    </p>
  </div>
</template>

<script>
export default {
  name: 'Profile',
  computed: {
    currentUser() {
      return JSON.parse(localStorage.getItem('user'));

    }
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push('/login');
    }
  }
};
</script>
